body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.mainE {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 1350px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.containerE {
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}
.contantE {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin: 0px auto;
}
.left-sectionE {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0px 0px 0px 100px;
}
.right-sectionE {
  width: 60%;
}
.top-titleE {
  width: 100%;
  padding: 20px;
}
.icon-titleE {
  display: flex;
  width: 100%;
  align-items: center;
}
.icon-titleE i {
  padding: 10px 15px;
  border: 3px solid silver;
  border-radius: 15px;
  background-color: #aa78ff;
  color: #fde58d;
}
.top-tittleE {
  padding: 0px 0px 0px 30px;
  color: #694fa9;
  font-weight: 800;
  font-size: 30px;
}
.pragraphE {
  width:90%;
  font-size: 20px;
  font-weight: 540;
  color: #918d9c;
}
.left-menuE {
  height: 400px;
  overflow-y: scroll;
}
.left-menuE::-webkit-scrollbar {
  display: none;
}
.lift-listE {
  list-style-type: none;
}
.itemE {
  padding: 10px 20px;
  display: flex;
  border: solid white 3px;
  border-radius: 25px;
  width: 60%;
  background-color: #f9f1fe;
  margin-top: 15px;
}
.icon-divE {
    padding: 0px 15px;
    border: 3px solid silver;
    border-radius: 15px;
    background-color: #aa78ff;
    color: white;
    display: flex;
    align-items: center;
}

.item-titelE {
    padding-left: 25px;
  color: #6851aa;
}
.itemE:hover{
    background-color:#f9f6fd ;
    >.item-titelE{
    color:#ae93d1 ;

    }
    >.icon-divE{
        background-color:#ffca48 ;
        border-color:#fcd764 ;
    }
}
.cards-sectionE {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  padding-right: 150px;
}
.cardE {
  border: white solid 3px;
  border-radius: 200px 200px 50px 50px;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #f9f1fe;
  padding-bottom: 20px;
}
.img-divE {
  width: 80%;
  margin-top: 20px;
  padding-bottom: 10px;
  border: white solid 3px;
  border-radius: 200px 200px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-image: linear-gradient(45deg, #9693e2, #adaaed, #dbedfc);
}
.my__imgE{
  width: 80%;
  margin: 12%;
}
.pragraphE {
  color: #6f5c92;
  font-size: 16px;
  font-weight: 600;
}
.btnE {
    background-color: #fbf8fe;
  width: 105px;
  height: 45px;
  border: solid rgb(255, 255, 255) 3px;
  border-radius: 15px;
  color: #8c5b06;
  font-size: 13px;
  font-weight: 600;
}
.scroll_buttonsE{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 100px;
 
  }
  .sizeE{
   color: white; 
    background-color:#976ee3;
    border: 1px solid #f5eaf7;
    border-radius: 100%;
   margin: 10px;
  }
.fdE{
    margin-right: 150px;
}
.cardE:hover{
    
    background-color: white;
}
.btnE:hover{
    background-image: linear-gradient( #f6e7bf, #ffc73e, #feb805);
    border: solid #fff4c8 3px;
}

